<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/status.css">
     <link rel = "Shortcut Icon" href="static/img/school.png">
     <script language="javascript" src="static/js/jquery.min.js"></script>
    <script language="javascript" src="static/js/jquery.cookie.js"></script>
    <script language="javascript" src="static/js/login.js"></script>
</head>
<body>
<!--headnav-->
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="index"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
            <li class="headnavli"> <a href="/" class="headnavtitle">Home</a></li>
                <li class="headnavli"> <a href="webboard" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle  headnavtitleactive">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
<!--picinfo-->
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<!--container-->
<div class="container">
    <div class="common_Container">
        <table class="statustable">
            <thead class="statustablehead">
                <tr>
                    <th>RunID</th>
                    <th>User</th>
                    <th>Problem</th>
                    <th>Result</th>
                    <th>Memory	</th>
                    <th>Time</th>
                    <th>Language</th>
                    <th>Code Length</th>
                    <th>Submit Time</th>
                </tr>
            </thead>
            <tbody class="statustablebody">
            {% for item in statusinfo %}

                <tr>
                    <td>{{ item.solution_id }}</td>
                    <td><a href="user?uname={{ item.user_id }}">{{ item.user_id }}</a></td>
                    <td><a href="problem?id={{ item.problem_id }}">{{ item.problem_id }}</a></td>
                    {% if item.status == 'Accepted' %}
                         <td class="green">{{ item.status }}</td>
                    {% else  %}
                         <td class="red">{{ item.status }}</td>
                    {% endif %}
                    {% if item.status == 'Judging' or item.status == 'Pending' or item.status == 'System Error' %}
                    <td>--</td>
                    <td>--ms</td>
                    {% else %}
                     <td>{{ item.memory }}KB</td>
                    <td>{{ item.time }}MS</td>
                    {% endif %}

                    <td>{{ item.language_name }}</td>
                    <td>{{ item.code_length }}B</td>
                    <td>{{ item.in_date | date:"Y-m-d H:i:s a"}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <nav class="pagination">
            <a class="previouspage page" href="status?page_num={{ cur_page }}&op=-">← Prev</a>
            <a class="nextpage page" href="status?page_num={{ cur_page }}&op=+">Next →</a>
        </nav>
    </div>
</div>

{% include 'base/footer.html' %}
</body>
</html>