<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/common/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/sign.css">
     <link rel = "Shortcut Icon" href="static/img/school.png">
     <script language="javascript" src="static/js/jquery.min.js"></script>
    <script language="javascript" src="static/js/jquery.cookie.js"></script>
    <script language="javascript" src="static/js/login.js"></script>
</head>
<body>
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="index"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
                <li class="headnavli"> <a href="/" class="headnavtitle">Home</a></li>
                <li class="headnavli"> <a href="webboard" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="user" class="headnavtitle">马禺喆</a>
                <a href="#" class="headnavtitle headnavtitleactive">More&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="##">Edit Profile</a></li>
                    <li><a href="##">Mail</a></li><hr>
                    <li><a href="##">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<div class="common_Container">

</div>
{% include 'base/footer.html' %}
</body>
</html>