<header class="pageheader">
	<a href="javascript:;"><h1 class="headertitle">SDUSTOJ</h1></a>
	<div class="pageheadercontain fl-right">
		<ul class="headerul">
			<li class="headerli headerlihover search"><a href="javascript:;"><i class="fa fa-search"></i></a></li>
			<li class="headerli headerlihover bell"><a href="javascript:;"><i class="fa fa-bell"></i></a></li>
			<li class="headerli headerlihover setting"><a href="javascript:;"><i class="fa fa-cog"></i></a></li>
			<li class="headerli headerlihover info"><a href="javascript:;"><i class="fa fa-info-circle"></i></a></li>
			<li class="headerli user"><a href="javascript:;">
				<img class="user-photo" src="../static/admin/common/img/user.jpg" alt="user's Photo">
					<span class="user-info">
						<small>Welcome,</small>Admin
					</span>
				<i class="fa fa-caret-down"></i>
			</a>
				<ul class="usermenu" style="display: none;">
					<li><a href="javascript:void(0);"><i class="fa fa-key"></i>Edit PWD</a></li>
					<hr>
					<li><a href="javascript:void(0);" id="lagoutId"><i class="fa fa-power-off"></i>LogOut</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>