<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/contest.css">
</head>
<body>
<!--headnav-->
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="index"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
               <li class="headnavli"> <a href="/" class="headnavtitle headnavtitleactive">Home</a></li>
                <li class="headnavli"> <a href="javascript:void(0);" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="set" class="headnavtitle">Set</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
<!--picinfo-->
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<!--container-->
<div class="container">
    <div class="common_Container">
        <h1 class="contesttitle">2015山东科技大学ACM校赛初赛</h1>
        <div class="contestinfo">
            <span class="green">From: </span>2015-05-09 13:00:00&nbsp;&nbsp;
            <span class="green">To:</span>2015-05-09 18:00:00&nbsp;&nbsp;
            <span class="green">Now: </span>2015-12-03 11:01:56&nbsp;&nbsp;<span class="green">Status:</span>Public<br>
        </div>
        <table class="contestable">
            <thead class="contesthead">
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody class="contestbody">
            <tr>
                <td>A</td>
                <td><a href="">Student’s question</a></td>
            </tr>
            <tr>
                <td>B</td>
                <td><a href="problem">R(N)</a></td>
            </tr>
            <tr>
                <td>C</td>
                <td><a href="problem">A Math Homework</a></td>
            </tr>
            <tr>
                <td>D</td>
                <td><a href="problem">Hooked Triangle</a></td>
            </tr>
            <tr>
                <td>E</td>
                <td><a href="problem">Reversal</a></td>
            </tr>
            <tr>
                <td>F</td>
                <td><a href="problem">Sequence</a></td>
            </tr>
            <tr>
                <td>G</td>
                <td><a href="problem">Sequence again</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="footer">
    <div class="common_Container">
        <a href="#">About</a>
        <a href="#">Tutorial</a>
        <a href="#">Tools</a>
        <a href="#">Clusters</a>
        <a href="#">Credits</a>
        <a href="#">Jobs</a>
        <a href="#">API</a>
    </div>
</div>
</body>
</html>