<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/contestlist.css">
    <link rel = "Shortcut Icon" href="static/img/school.png">
    <script language="javascript" src="static/js/jquery.min.js"></script>
    <script language="javascript" src="static/js/jquery.cookie.js"></script>
    <script language="javascript" src="static/js/login.js"></script>
</head>
<body>
<!--headnav-->
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="index"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
               <li class="headnavli"> <a href="/" class="headnavtitle headnavtitleactive">Home</a></li>
                <li class="headnavli"> <a href="webboard" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle  headnavtitleactive">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
<!--picinfo-->
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<!--container-->
<div class="container">
    <div class="common_Container">
        <table class="questionlittable">
            <thead>
            <tr class="questionlittr">
                <th class="questionlitth">ID</th>
                <th class="questionlitth">Title</th>
                <th class="questionlitth">Start Time</th>
                <th class="questionlitth">End Time</th>
                <th class="questionlitth">Type</th>
            </tr>
            </thead>
            <tbody>
            {% for item in contestlist %}
            <tr class="questionlittr">
                <td class="questionlittd">{{ item.contest_id }}</td>
                <td class="questionlittd"><a href="contest?id={{ item.contest_id }}">{{ item.title }}</a></td>
                <td class="questionlittd">{{ item.start_time | date:"Y-m-d H:i:s a" }}</td>
                <td class="questionlittd">{{ item.end_time| date:"Y-m-d H:i:s a"  }}</td>
                <td class="questionlittd">{{ item.privilege }}</td>
            </tr>
            {% endfor %}



            </tbody>
        </table>
        <ul class="pagination">
            <li class="active paginationli"><a href="##">1</a></li>
            <li class="paginationli"><a href="##">2</a></li>
            <li class="paginationli"><a href="##">3</a></li>
            <li class="paginationli"><a href="##">4</a></li>
            <li class="paginationli"><a href="##">5</a></li>
            <li class="paginationli"><a href="##">6</a></li>
        </ul>
    </div>
</div>

<div class="footer">
    <div class="common_Container">
        <a href="#">About</a>
        <a href="#">Tutorial</a>
        <a href="#">Tools</a>
        <a href="#">Clusters</a>
        <a href="#">Credits</a>
        <a href="#">Jobs</a>
        <a href="#">API</a>
    </div>
</div>
</body>
</html>