<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/ranklist.css">
    <link rel = "Shortcut Icon" href="static/img/school.png">
     <script language="javascript" src="static/js/jquery.min.js"></script>
    <script language="javascript" src="static/js/jquery.cookie.js"></script>
    <script language="javascript" src="static/js/login.js"></script>
</head>
<body>
<!--headnav-->
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="../index/index.html"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
                 <li class="headnavli"> <a href="/" class="headnavtitle">Home</a></li>
                <li class="headnavli"> <a href="webboard" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle  headnavtitleactive">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
<!--picinfo-->
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<!--container-->
<div class="container">
    <div class="common_Container">
        <table class="ranklisttable">
            <thead class="ranklisttablehead">
            <tr>
                <th>No.</th>
                <th>User</th>
                <th>Nick Name</th>
                <th>Signature</th>
                <th>AC</th>
                <th>Submit</th>
                <th>Ratio</th>
            </tr>
            </thead>
            <tbody class="ranklisttablebody">
            {% for user in users %}
                <tr>
                    <td class="rank">{{ user.index }}</td>
                    <td><a href="user?uname={{ user.user_id }}">{{ user.user_id }}</a></td>
                    <td><a href="#">{{ user.nick }}</a></td>
                    <td></td>
                    <td>{{ user.ac }}</td>
                    <td>{{ user.sub }}</td>
                    <td>{{ user.rate }}</td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        <nav class="pagination">
            <a class="previouspage page" href="ranklist?page_num={{ cur_page }}&op=-">← Prev</a>
            <a class="nextpage page" href="ranklist?page_num={{ cur_page }}&op=+">Next →</a>
        </nav>
    </div>
</div>

{% include 'base/footer.html' %}
</body>
</html>