<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/ranklist.css">
</head>
<body>
<!--headnav-->
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="../index/index.html"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
                 <li class="headnavli"> <a href="/" class="headnavtitle headnavtitleactive">Home</a></li>
                <li class="headnavli"> <a href="javascript:void(0);" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
<!--picinfo-->
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<!--container-->
<div class="container">
    <div class="common_Container">
        <table class="ranklisttable">
            <thead class="ranklisttablehead">
            <tr>
                <th>No.</th>
                <th>User</th>
                <th>Nick Name</th>
                <th>Signature</th>
                <th>AC</th>
                <th>Submit</th>
                <th>Ratio</th>
            </tr>
            </thead>
            <tbody class="ranklisttablebody">
                <tr>
                    <td class="rank">1</td>
                    <td><a href="user">201401060124</a></td>
                    <td><a href="#">lshmouse</a></td>
                    <td>验题君，请无视</td>
                    <td>365</td>
                    <td>1049</td>
                    <td>34.80%</td>
                </tr>
                <tr>
                    <td class="rank">2</td>
                    <td><a href="user">201301052012</a></td>
                    <td><a href="#">craig04</a></td>
                    <td>GilGaMesh</td>
                    <td>203</td>
                    <td>387</td>
                    <td>52.45%</td>
                </tr>
                <tr>
                    <td class="rank">3</td>
                    <td><a href="user">201301052007</a></td>
                    <td><a href="#">chensunrise</a></td>
                    <td>努力了就好，加油！鲍佳</td>
                    <td>190</td>
                    <td>795</td>
                    <td>23.90%</td>
                </tr>
                <tr>
                    <td class="rank">4</td>
                    <td><a href="user">201301051209</a></td>
                    <td><a href="#">Harry</a></td>
                    <td>Harry</td>
                    <td>177</td>
                    <td>447</td>
                    <td>39.60%</td>
                </tr>
                <tr>
                    <td class="rank">1</td>
                    <td><a href="user">201401060124</a></td>
                    <td><a href="#">lshmouse</a></td>
                    <td>验题君，请无视</td>
                    <td>365</td>
                    <td>1049</td>
                    <td>34.80%</td>
                </tr>
                <tr>
                    <td class="rank">2</td>
                    <td><a href="user">201301052012</a></td>
                    <td><a href="#">craig04</a></td>
                    <td>GilGaMesh</td>
                    <td>203</td>
                    <td>387</td>
                    <td>52.45%</td>
                </tr>
                <tr>
                    <td class="rank">3</td>
                    <td><a href="user">201301052007</a></td>
                    <td><a href="#">chensunrise</a></td>
                    <td>努力了就好，加油！鲍佳</td>
                    <td>190</td>
                    <td>795</td>
                    <td>23.90%</td>
                </tr>
                <tr>
                    <td class="rank">4</td>
                    <td><a href="user">201301051209</a></td>
                    <td><a href="#">Harry</a></td>
                    <td>Harry</td>
                    <td>177</td>
                    <td>447</td>
                    <td>39.60%</td>
                </tr>
                <tr>
                    <td class="rank">1</td>
                    <td><a href="user">201401060124</a></td>
                    <td><a href="#">lshmouse</a></td>
                    <td>验题君，请无视</td>
                    <td>365</td>
                    <td>1049</td>
                    <td>34.80%</td>
                </tr>
                <tr>
                    <td class="rank">2</td>
                    <td><a href="user">201301052012</a></td>
                    <td><a href="#">craig04</a></td>
                    <td>GilGaMesh</td>
                    <td>203</td>
                    <td>387</td>
                    <td>52.45%</td>
                </tr>
                <tr>
                    <td class="rank">3</td>
                    <td><a href="user">201301052007</a></td>
                    <td><a href="#">chensunrise</a></td>
                    <td>努力了就好，加油！鲍佳</td>
                    <td>190</td>
                    <td>795</td>
                    <td>23.90%</td>
                </tr>
                <tr>
                    <td class="rank">4</td>
                    <td><a href="user">201301051209</a></td>
                    <td><a href="#">Harry</a></td>
                    <td>Harry</td>
                    <td>177</td>
                    <td>447</td>
                    <td>39.60%</td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination">
            <a class="previouspage page" href="#">← Prev</a>
            <a class="nextpage page" href="#">Next →</a>
        </nav>
    </div>
</div>

<div class="footer">
    <div class="common_Container">
        <a href="#">About</a>
        <a href="#">Tutorial</a>
        <a href="#">Tools</a>
        <a href="#">Clusters</a>
        <a href="#">Credits</a>
        <a href="#">Jobs</a>
        <a href="#">API</a>
    </div>
</div>
</body>
</html>