<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SDUSTOJ</title>
    <link rel="stylesheet" href="../static/admin/common/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/admin/common/css/base.css"/>
<link rel="stylesheet" type="text/css" href="../static/common/css/xcConfirm.css"/>

<link rel = "Shortcut Icon" href="../static/img/school.png">
    <script src="../static/admin/common/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="../static/admin/css/addcontest.css"/>

    <!--<link type="text/css" href="admin/common/Timepicker/jquery-ui.css" rel="stylesheet" />-->
	 <link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="../static/admin/common/Timepicker/jquery-ui-timepicker-addon.css" type="text/css" />

    <script src="../static/admin/common/js/jquery-2.0.3.min.js"  type="text/javascript"></script>

	<!--<script src="admin/common/Timepicker/jquery-ui.min.js"  type="text/javascript"></script>-->
	<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
    <script src="../static/admin/common/Timepicker/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="../static/admin/common/js/jquery.session.js" type="text/javascript"></script>
    <script src="../static/admin/common/js/base.js" type="text/javascript"></script>
        <script src="../static/common/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div class="maxwrap">
    <!--头部-->
 {% include 'base/adminhead.html' %}
    <!--左边栏-->
    <div class="sidebar">
        <!--快捷按钮组-->
        <script src="../static/admin/common/js/commenu.js"></script>

        <!--列表导航-->

    </div>
    <!--内容区域-->
    <div class="maincontainer">
        <!--面包屑导航-->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class=" fa fa-home home-icon"></i><a href="#">Home</a></li>
                <li class="breadcrumbactive">SDUSTOJ</li>
            </ul>
        </div>
        <!--内容区域-->
        <div class="container">
            <!--内容区域-->
            <div class="tabcontent article" >
                <div class="conlabel">
                    <span>Title</span>
                    <input type="text" id="title" autocomplete="off">
                </div>
                <div class="conlabel">
                    <span>Start Time</span>
                    <input type="text"  class="shortinput" id="startTime" />
                </div>
                <div class="conlabel">
                    <span>End Time</span>
                    <input type="text"  class="shortinput" id="endTime" />
                </div>
                <div class="conlabel">
                    <span>Public</span>
                    <select id="selectPublic" class="column">
                    {% for item in privilege %}
                        <option value="{{ item.private_id }}">{{ item.privilege }}</option>
                    {% endfor %}

                    </select>
                </div>
                <div class="conlabel">
                    <span>Language</span>
                    <select id="selectLanguage" class="column">
                    <option value="-1">All Language</option>
                        {% for item in language %}
                            <option value="{{ item.language }}">{{ item.language_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="textareaLabel">
                    <span>Problems</span>
                    <textarea id="problemstxarea"></textarea>
                </div>
                <div class="textareaLabel">
                    <span>Users</span>
                    <textarea id="userstxarea"></textarea>
                </div>

                <div class="ownbtngroup">
                    <a href="javascript:;" id="submit"><i class="fa fa-check"></i>Submit</a><a href="" id="reset"><i class="fa fa-undo"></i>Reset</a>
                </div>
            </div>
		</div>
    </div>
</div>

 <script src="../static/admin/js/addcontest.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function () {

    });
</script>
</body>
</html>