<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOJ</title>
    <link rel="stylesheet" type="text/css" href="static/common/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/common/css/common.css">
    <link rel="stylesheet" type="text/css" href="static/common/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/admin.css"/>
</head>
<body>
<!--header-->
<header class="pageheader">
    <a href="javascript:;"><h1 class="headertitle">SDUSTOJ</h1></a>
    <div class="pageheadercontain fl-right">
        <ul class="headerul">
            <li class="headerli search"><a href="javascript:;"><i class="fa fa-search"></i></a></li>
            <li class="headerli bell"><a href="javascript:;"><i class="fa fa-bell"></i></a></li>
            <li class="headerli setting"><a href="javascript:;"><i class="fa fa-cog"></i></a></li>
            <li class="headerli info"><a href="javascript:;"><i class="fa fa-info-circle"></i></a></li>
            <li class="headerli user"><a href="javascript:;">
                <img class="user-photo" src="static/img/user.jpg" alt="user's Photo">
                        <span class="user-info">
                            <small>欢迎您,</small>管理员
                        </span>
                <i class="fa fa-caret-down"></i>
            </a></li>
        </ul>
    </div>
</header>
<!--container-->
<div class="maxcontainer">
    <!--sidemenu-->
    <div class="sidemenu">
        <dl class="menu topmenu">
            <dt class="menutitle"><i class="fa fa-bars"></i>功能</dt>
            <dd class="menu_item"><a href="javascript:;">群发功能</a></dd>
            <dd class="menu_item"><a href="javascript:;">自动回复</a></dd>
            <dd class="menu_item"><a href="javascript:;">自定义菜单</a></dd>
            <dd class="menu_item"><a href="javascript:;">投票管理</a></dd>
            <dd class="menu_item"><a href="javascript:;">添加功能插件</a></dd>
        </dl>

        <dl class="menu ">
            <dt class="menutitle"><i class="fa fa-graduation-cap"></i>管理</dt>
            <dd class="menu_item"><a href="javascript:;">消息管理</a></dd>
            <dd class="menu_item"><a href="javascript:;">用户管理</a></dd>
            <dd class="menu_item"><a href="javascript:;">素材管理</a></dd>
            <dd class="menu_item"><a href="javascript:;">投票管理</a></dd>
        </dl>
    </div>
</div>

</body>
</html>