<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SDUSTOJ</title>
    <link rel="stylesheet" href="../static/admin/common/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/admin/common/css/base.css"/>
    <link rel="stylesheet" href="../static/admin/css/problemlist.css"/>
    <link rel="Shortcut Icon" href="../static/img/school.png">
    <script src="../static/admin/common/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/common/css/xcConfirm.css"/>
    <script language="javascript" src="../static/js/jquery.cookie.js"></script>
    <script src="../static/common/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/admin/common/js/jquery.session.js"></script>
    <script src="../static/admin/common/js/base.js"></script>
    <script src="../static/admin/js/problemlist.js"></script>
</head>
<body>
<div class="maxwrap">
    <!--头部-->
    {% include 'base/adminhead.html' %}
    <!--<script src="admin/common/js/comhead.js"></script>-->
    <!--左边栏-->
    <script src="../static/admin/common/js/commenu.js"></script>
    <!--内容区域-->
    <div class="maincontainer">
        <!--面包屑导航-->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class=" fa fa-home home-icon"></i><a href="#">Home</a></li>
                <li class="breadcrumbactive">SDUSTOJ</li>
            </ul>
        </div>
        <!--内容区域-->
        <div class="container">
            <div class="tablediv">
                <table class="atticletable">
                    <!--<caption class="tableheader">文章列表
                        <span><a href="addarticle.html?moduleId=1&amp;menuName=%u4F01%u4E1A%u6587%u5316&amp;submenuName=%u6587%u5316%u6545%u4E8B" id="jumpAddUrl">添加文章</a></span>
                    </caption>-->
                    <thead>
                    <tr class="trheader">

                        <th>PID</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Accepted</th>
                        <th>Submit</th>
                        <th>Solved</th>
                        <th>File Upload</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for item in problems %}
                        <tr>
                            <td>{{ item.problem_id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.in_date | date:'Y-m-d H:i:s a' }}</td>
                            <td>{{ item.defunct }}</td>
                            <td></td>
                            <td>{{ item.accepted }}</td>
                            <td>{{ item.submit }}</td>
                            <td>{{ item.solved }}</td>
                            {% if item.fileupload == 'N' %}
                                <td>未上传</td>
                            {% else %}
                                <td>已上传</td>
                            {% endif %}
                            <td>
                                <div class="ownbtngroup">
                                    <a href="javascript:void(0);" id="operate">操作</a><a href="javascript:void(0);"
                                                                                        id="delete">删除</a>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="tfoot">
                <div class="btngroup clearfix">
                    <!-- <i class="fa fa-trash red" id="delid"></i>
                    <i class="fa fa-search orange"></i> -->
                </div>
                <div class="pagegroup">
                    <span class="fa fa-angle-double-left" id="firstpage"></span>
                    <span class="fa fa-angle-left" id="prepage"></span>

                    <span class="fa fa-angle-right " id="nextpage"></span>
                    <span class="fa fa-angle-double-right" id="lastpage"></span>
                </div>
                <div class="pageinfo">
                    <!-- <small id="nowprenum">1</small>-<small id="nownextnum">12</small>　共<small id="allnum">12</small>条 -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popucontainer" style="">
    <div class="comtent">
        <div class="conheader">
            <span id="dialog_head">Edit User</span>
            <i class="fa fa-remove closealert closepic"></i>
        </div>
        <div class="contextarea" id="contextareaId">
            <div class="conlabel">
                <span>PromblemTitle</span>
                <input type="text" id="ptitle" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Describe</span>
                <input type="text" id="pdescribe" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Input</span>
                <input type="text" id="pinput" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Output</span>
                <input type="text" id="poutput" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Sample Input</span>
                <input type="text" id="psampleinput" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Sample Output</span>
                <input type="text" id="psampleoutput" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Hint</span>
                <input type="text" id="phint" autocomplete="off" >
            </div>
            <div class="conlabel">
                <span>Append Code</span>
                <input  type="text" id="pappendcode" autocomplete="off" ></input>
            </div>
<!--
            <div class="conlabel" id="privilegelabel">
                <span>Privilege</span>
                <select id="privilege">
                    <option value="A">超级管理员</option>
                    <option value="B">管理员</option>
                    <option value="C">普通用户</option>
                </select>
            </div>
            -->
        </div>
        <div class="btna">
            <a href="javascript:void(0);" class="btnleft btn " id="updataOk"> 确定</a>
            <a href="javascript:void(0);" class="btnright btn closealert">取消</a>
        </div>
    </div>
</div>

<script>
    $(function () {
        // 全局变量


        $("#nextpage").bind("click", function () {
            window.location.href = "problemlist?op=add&page_num={{ cur_page }}";
        })
        $("#prepage").bind("click", function () {
            window.location.href = "problemlist?op=sub&page_num={{ cur_page }}";
        })

        $("#firstpage").bind("click", function () {
            window.location.href = "problemlist?page_num=1";
        })
        $("#lastpage").bind("click", function () {
            window.location.href = "problemlist?page_num={{ totalpage }}";
        })

    });
</script>
</body>
</html>