<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SDUSTOJ</title>
    <link rel="stylesheet" href="../static/admin/common/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/admin/common/css/base.css"/>
    <link rel="Shortcut Icon" href="../static/img/school.png">
    <link rel="stylesheet" href="../static/admin/css/rejudge.css"/>
    <script src="../static/admin/common/js/jquery-2.0.3.min.js"></script>
    <script language="javascript" src="../static/js/jquery.cookie.js"></script>
    <script src="../static/admin/common/js/jquery.session.js"></script>
    <script src="../static/admin/common/js/base.js"></script>
    <script src="../static/admin/js/rejudge.js"></script>
    <script src="../static/common/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../static/common/css/xcConfirm.css"/>


</head>
<body>
<div class="maxwrap">
    <!--头部-->
    {% include 'base/adminhead.html' %}

    <!--<script src="admin/common/js/comhead.js"></script>-->
    <!--左边栏-->
    <script src="../static/admin/common/js/commenu.js"></script>
    <!--内容区域-->
    <div class="maincontainer">
        <!--面包屑导航-->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class=" fa fa-home home-icon"></i><a href="#">Home</a></li>
                <li class="breadcrumbactive">SDUSTOJ</li>
            </ul>
        </div>
        <!--内容区域-->
        <div class="container">
            <div class="tablediv">
                <div class="title">
                    Rejudge (From solution_id-----To solution_id)
                </div>
                <div class="fileupload">
                    <form action="rejudge_save" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <!--<table>
                        <tr><td><span class="problemtitle leftspan">题目编号</span><input type="text" id="problem_id" name="problem_id"/></td></tr>
                        <tr><td><span class="problemfile leftspan">题目文件</span><input type="file" multiple="multiple" id="files" name="files"/></td></tr>
                        <tr><td><input type="submit" id="submit" name="submit"/></td></tr>
                        </table>-->
                        <div class="fileuploadcon">
                            <span class="leftspan">Rejudge From</span>
                            <input name="rejudgefrom" id="rejudgefrom"/>

                        </div>
                        <div class="fileuploadcon">
                            <span class="leftspan">Rejudge To</span>
                            <input name="rejudgeto" id="rejudgeto"/>
                        <div class="fileuploadcon submitbtn">
                            <input type="submit" id="submit" name="submit"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tfoot">
                <div class="btngroup clearfix">
                    <!-- <i class="fa fa-trash red" id="delid"></i>
                    <i class="fa fa-search orange"></i> -->
                </div>

                <div class="pageinfo">
                    <!-- <small id="nowprenum">1</small>-<small id="nownextnum">12</small>　共<small id="allnum">12</small>条 -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    {% if result == 'success' %}
        alert_success()
    {% elif result  == 'failure' %}
        alert_warning()
    {% endif %}

</script>

</body>
</html>