<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SDUSTOJ</title>
    <link rel="stylesheet" href="../static/common/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/admin/common/css/base.css"/>
    <link rel="Shortcut Icon" href="../static/img/school.png">
    <link rel="stylesheet" href="../static/admin/css/userlog.css"/>
    <script src="../static/common/js/jquery-2.0.3.min.js"></script>
    <script src="../static/common/js/jquery.session.js"></script>
    <script src="../static/admin/common/js/base.js"></script>
    <script language="javascript" src="../static/js/jquery.cookie.js"></script>
    <script src="../static/admin/common/js/userlog.js"></script>
</head>
<body>
<div class="maxwrap">
    <!--头部-->
    {% include 'base/adminhead.html' %}

    <!--左边栏-->
    <script src="../static/admin/common/js/commenu.js"></script>
    <!--快捷按钮组-->

    <!--列表导航-->

    <!--内容区域-->
    <div class="maincontainer">
        <!--面包屑导航-->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class=" fa fa-home home-icon"></i><a href="#">Home</a></li>
                <li class="breadcrumbactive">SDUSTOJ</li>
            </ul>
        </div>
        <!--内容区域-->
        <div class="container">
            <div class="tablediv">
                <table class="userlogtable">
                    <thead>
                    <tr class="trheader">
                        <th>UserId</th>
                        <th>Password</th>
                        <th>IP</th>
                        <th>Time</th>

                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for item in userlog %}
                        <tr>
                            <td>{{ item.user_id }}</td>
                            <td>{{ item.password }}</td>
                            <td>{{ item.ip }}</td>
                            <td>{{ item.time|date:'Y-m-d H:i:s a' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tfoot">
                <div class="btngroup clearfix">
                    <!-- <i class="fa fa-trash red" id="delid"></i>
                    <i class="fa fa-search orange"></i> -->
                </div>
                <div class="pagegroup">
                    <span class="fa fa-angle-double-left " id="firstpage"></span>
                    <span class="fa fa-angle-left " id="prepage"></span>
                    <span class="fa fa-angle-right " id="nextpage"></span>
                    <span class="fa fa-angle-double-right" id="lastpage"></span>
                </div>
                <div class="pageinfo">
                    <!-- <small id="nowprenum">1</small>-<small id="nownextnum">12</small>　共<small id="allnum">12</small>条 -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(function () {


        $("#nextpage").bind("click", function () {
            window.location.href = "userloginlog?op=add&page_num={{ cur_page }}";
        })
        $("#prepage").bind("click", function () {
            window.location.href = "userloginlog?op=sub&page_num={{ cur_page }}";
        })

        $("#firstpage").bind("click", function () {
            window.location.href = "userloginlog?page_num=1";
        })
        $("#lastpage").bind("click", function () {
            window.location.href = "userloginlog?page_num={{ totalpage }}";
        })

    });
</script>
</body>
</html>