.title{
    background: #5bc0de;
    width:100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
table>tr{
    width:100%;
    height:200px;
    text-align: center;
}
.fileupload{
    font-size: 20px;
}
#problem_id{
    width:60%;
    height: 20px;
    border-radius: inherit;
}
#submit{
    width:100px;
    height:100px;
}