.container{height: 1000px;}
.content{margin:10px 5% 5%;padding-top: 0px;}
.info-content{ background: #F5F5F5; border: 1px solid #e3e3e3; padding: 10px; color: #333; border-radius: 4px; font-size: 14px; line-height: 1.5; }
