/*页面首部图片*/
.topinfo{ background: #003840 url(../common/img/background-02.jpg)no-repeat center center; z-index: -1;padding-top: 60px; padding-bottom: 120px;}
/*登录*/
.singin{margin: 30px auto 200px;width: 500px;}
.singinheader{position: relative;  padding: 10px 20px; color: #fff;  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);font-size: 18px;background-color: #829aa8;  border: 1px solid #768995;  border-radius: 3px 3px 0 0;}
.singinbody{  color: #333;  padding: 20px;  font-size: 16px;  background-color: #fff;  border: 1px solid #d8dee2;  border-top: 0;  border-radius: 0 0 3px 3px;  }
.singinbody>label{  display: block;  font-size: 16px;  font-weight: bold;  }
.singinbody>input{  padding: 6px 0px;  font-size:15px;  margin:10px 0 ;  color: #333;  vertical-align: middle;  border: 1px solid #ccc;  border-radius: 3px;  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);  width: 100%;
}
.singinbody>a.btn{ display: inline-block; color: #428bca; padding: 6px 8px;border-radius: 6px; background-color: #F1F1F1; border:1px solid #ccc; color: #333; }
.singinbody>a.btn:hover{ background-color: #EBEBEB; }
.singinbody a.forgetpwd{ color: #4078c0; text-decoration: none; }