<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/problem.css">
    <link rel = "Shortcut Icon" href="static/img/school.png">
     <script language="javascript" src="static/js/jquery.min.js"></script>
    <script language="javascript" src="static/js/jquery.cookie.js"></script>
    <script language="javascript" src="static/js/login.js"></script>
</head>
<body>
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="../index/index.html"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
                <li class="headnavli"> <a href="/" class="headnavtitle headnavtitleactive">Home</a></li>
                <li class="headnavli"> <a href="webboard" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
{% autoescape off %}
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>

<div class="problemcontainer">
    <div class="common_Container">
        <h1 class="problemtitle">{{ problem.problem_id }} - {{ problem.title }}</h1>
        <div class="probleminfo">
            <span class="green">Time Limit: </span>{{ problem.time_limit }}&nbsp;&nbsp;
            <span class="green">Memory Limit: </span>{{ problem.memory_limit }}<br>
            <span class="green">Submit: </span>61&nbsp;&nbsp;<span class="green">Solved: </span>10<br>
        </div>
        <dl class="problemdetail">
            <dt>Description</dt>
            <dd>
              {{ problem.description }}
            </dd>
            <dt>Input</dt>
            <dd>
                {{ problem.input }}
            </dd>

            <dt>Output</dt>
            <dd>problem.output</dd>

            <dt>Sample Input</dt>
            <dd class="simpale">
                <pre>
{{ problem.sample_input }}
                </pre>
            </dd>
            <dt>Sample Output</dt>
            <dd class="simpale">
                <pre>{{ problem.sample_output }}</pre>
            </dd>
            <dt>HINT</dt>
            <dd>
              {{ problem.hint }}
            </dd>
            <dt>Append Code</dt>
            <dd></dd>
        </dl>
        <div class="button">
            <a href="submit?c_id={{ contestid }}&p_id={{ problem.problem_id }}" class="btn">Submit</a>
        </div>
    </div>
</div>
{% endautoescape %}
<div class="footer">
    <div class="common_Container">
        <a href="#">About</a>
        <a href="#">Tutorial</a>
        <a href="#">Tools</a>
        <a href="#">Clusters</a>
        <a href="#">Credits</a>
        <a href="#">Jobs</a>
        <a href="#">API</a>
    </div>
</div>
</body>
</html>