<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/useredit.css">
    <link rel = "Shortcut Icon" href="static/img/school.png">
</head>
<body>
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="index"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
              <li class="headnavli"> <a href="/" class="headnavtitle headnavtitleactive">Home</a></li>
                <li class="headnavli"> <a href="webboard" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="user" class="headnavtitle">{{ user.nick }}</a>
                <a href="#" class="headnavtitle headnavtitleactive">More&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="##">Edit Profile</a></li>
                    <li><a href="##">Mail</a></li><hr>
                    <li><a href="##">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<div class="common_Container">
    <div class="singin">
        <div class="singinheader">Edit User</div>
        <div class="singinbody">
            <label for="login_field">Username</label>
            <input autocapitalize="off" autocomplete="off" autofocus="autofocus" id="login_field" class="" value="{{ user.nick }}" disabled="disabled"  type="text">

            <label for="curpassword">Current Password</label>
            <input class="" id="curpassword" type="password"  autocomplete="off" >

            <label for="newpassword">New Password</label>
            <input class="" id="newpassword" type="password"  autocomplete="off">

            <label for="repeatpassword">Repeat Password</label>
            <input class="" id="repeatpassword" type="password"  autocomplete="off">

            <label for="email">email</label>
            <input class="" id="email" type="text"  autocomplete="off">

            <label for="validate">verification code</label>
            <input class="validateinput" id="validate" type="text"  autocomplete="off">
            <img src="static/common/img/vdimg.jpg" alt="" class="validateimg">
             <div><a class="btn" href="javascript:;">Save</a></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="common_Container">
        <a href="#">About</a>
        <a href="#">Tutorial</a>
        <a href="#">Tools</a>
        <a href="#">Clusters</a>
        <a href="#">Credits</a>
        <a href="#">Jobs</a>
        <a href="#">API</a>
    </div>
</div>
</body>
</html>