<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDUSTOnlineJudge</title>
    <link rel="stylesheet" href="static/common/css/reset.css">
    <link rel="stylesheet" href="static/common/css/common.css">
    <link rel="stylesheet" href="static/css/user.css">
</head>
<body>
<header class="head">
    <div class="common_Container">
        <nav class="headnav">
            <a href="index"><h1 class="headnavalltitle">SDUSTOJ</h1></a>
            <ul class="headnavul clearfix">
           <li class="headnavli"> <a href="/" class="headnavtitle headnavtitleactive">Home</a></li>
                <li class="headnavli"> <a href="javascript:void(0);" class="headnavtitle">Web Board</a></li>
                <li class="headnavli"> <a href="problemset" class="headnavtitle">ProblemSet</a></li>
                <li class="headnavli"> <a href="status" class="headnavtitle">Status</a></li>
                <li class="headnavli"> <a href="ranklist" class="headnavtitle">Ranklist</a></li>
                <li class="headnavli"> <a href="contestlist" class="headnavtitle">Contest</a></li>
                <li class="headnavli"> <a href="faq" class="headnavtitle">F.A.Qs</a></li>
            </ul>
            <div class="headnavactions">
                <a href="signup" class="headnavtitle">Sign up</a>
                <a href="signin" class="headnavtitle">Sign in</a>
            </div>
        </nav>
    </div>
</header>
<div class="topinfo scroolPic">
    <div class="common_Container">
        <div class="topinfoleft topinfocommon">
            <h1 class="toptitle">山东科技大学OnlineJudge</h1>
        </div>
    </div>
</div>
<div class="usercontainer">
    <div class="common_Container">
         <h2 class="username">201401060817--马禺喆</h2>
         <table class="usertable">
             <tr><td width="15%">No.</td><td width="25%" align="center">4</td><td width="70%" align="center">Solved Problems List</td></tr>
             <tr><td>Solved</td><td align="center"><a href="#">344</a></td>
             <td rowspan="14" align="left" valign="top" class="problemtd">
                 <a href="../problemset/html/problem.html">1001 </a><a href="../problemset/html/problem.html">1002 </a><a href="../problemset/html/problem.html">1003 </a>
                 <a href="../problemset/html/problem.html">1004 </a><a href="../problemset/html/problem.html">1001 </a><a href="../problemset/html/problem.html">1001 </a>
                 <a href="../problemset/html/problem.html">1001 </a><a href="../problemset/html/problem.html">1001 </a><a href="../problemset/html/problem.html">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
                 <a href="##">1001 </a><a href="##">1001 </a><a href="##">1001 </a>
             </td></tr>
             <tr><td>Submit</td><td align="center"><a href="#">975</a></td>
             <tr><td>AC</td><td align="center"><a href="#">407</a></td>
             <tr><td>PE</td><td align="center"><a href="#">44</a></td>
             <tr><td>WA</td><td align="center"><a href="#">327</a></td>
             <tr><td>TLE</td><td align="center"><a href="#">35</a></td>
             <tr><td>MLE</td><td align="center"><a href="#">21</a></td>
             <tr><td>OLE</td><td align="center"><a href="#">24</a></td>
             <tr><td>RE</td><td align="center"><a href="#">49</a></td>
             <tr><td>CE</td><td align="center"><a href="#">59</a></td>
         </table>
    </div>
</div>
<div class="footer">
    <div class="common_Container">
        <a href="#">About</a>
        <a href="#">Tutorial</a>
        <a href="#">Tools</a>
        <a href="#">Clusters</a>
        <a href="#">Credits</a>
        <a href="#">Jobs</a>
        <a href="#">API</a>
    </div>
</div>
<script src="static/js/user.js"></script>
</body>
</html>